@use 'submodules/variable' as var;
@use 'submodules/mixin' as mix;
@use 'mobile';

.header-content {
    width: 100vw;
    height: 100vh;
    .header-navbar {
        @include mix.flexBox($justify:center);
        position: absolute;
        width: 100%;
        // overflow-x: hidden;
        .header-menu {
            @include mix.flexBox($align: center, $justify:space-between);
            position: sticky;
            top: 0;
            margin: 50px auto;
            height: 100px;
            backdrop-filter: blur(5px);
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
            z-index: 111;
            transition: all 0.5s linear;
            .logo-wrap {
                height: 100px;
                width: auto;
                margin-left: 50px;
                .logo-name {
                    height: 100%;
                    h1 {
                        @include mix.flexBox($align: center);
                        height: 100%;
                        a {
                            text-decoration: none;
                            font-size: 60px;
                            white-space: nowrap;
                            font-family: var.$alexBrushFont;
                            color: var.$secondaryColor;
                        }
                    }
                }
            }

            .navbar {
                @include mix.flexBox($align: center, $justify: flex-end);
                width: 80%;
                height: 100%;
                .menu-bar {
                    @include mix.flexBox($align: center, $justify: center);
                    height: 100%;
                    ul {
                        @include mix.flexBox($align: center, $justify: center);
                        li.list-item {
                            display: flex;
                            align-items: flex-end;
                            height: 35px;
                            margin: 0 50px;
                            &:first-child {
                                margin-left: 0;
                            }
    
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                height: 50%;
                                color: var.$secondaryColor;
                                text-align: center;
                                text-decoration: none;
                                font-size: 20px;
                                font-family: var.$oswaldFont;
                                transition: all 0.5s;
                                &:hover {
                                    color: var.$typicalColor;
                                }

                                &::after {
                                    content: "";
                                    margin-top: 15px;
                                    display: block;
                                    width: 0;
                                    height: 3px;
                                    text-decoration: none;
                                    font-family: var.$oswaldFont;
                                    transition: all 0.5s;
                                }
    
                                &:hover::after {
                                    width: 100%;
                                    background-color: var.$typicalColor;
                                }
                            }
    
                        }
                    }
                }
                .dark-mode {
                    @include mix.flexBox($align: center);
                    height: 100%;
                    margin-left: 50px;
                    margin-right: 50px;
                    .dark-mode-wrap {
                        height: 35px;
                        .btn-mode {
                            height: 100%;
                            button {
                                cursor: pointer;
                                width: 35px;
                                height: 100%;
                                margin: auto;
                                border: none;
                                padding-inline: 0;
                                padding-block: 0;
                                border-radius: 50px;
                                box-shadow: 0 0 10px  var.$secondaryColor;
                                background-color: transparent;
                                transition: all 0.5s;
                                backdrop-filter: blur(1px);
                                i {
                                    display: block;
                                    color: var.$secondaryColor;
                                    font-size: 15px;
                                }
                                &:hover {
                                    box-shadow: 0 0 30px var.$primaryColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .hero-video {
        width: 100%;
        height: 100%;
        figure {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            overflow: hidden;
            .video-bg {
                position: absolute;
                bottom: 0;
                left: 0;
                min-height: 100vh;
                min-width: 100vw;
                z-index: -1;
            }
        }
    }

    .header-hero {
        width: 100%;
        height: 100%;
        .hero-primary-item {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            .hero-title-center {
                position: relative;
                height: 100%;
                margin: 0 auto;
                .title-contact {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 50px;
                    right: 50px;
                    .hero-title {
                        height: auto;
                        .name-title {
                            margin: 55px 0;
                            font-size: 80px;
                            font-family: var.$aliceFont;
                            color: var.$secondaryColor;
                        }
                    }
        
                    .box-contact {
                        @include mix.flexBox($align: center);
                        width: 200px;
                        height: auto;
                        a.contact {
                            display: flex;
                            width: 100%;
                            height: 80px;
                            text-decoration: none;
                            box-shadow: 0 0 20px var.$secondaryColor;
                            backdrop-filter: blur(20px);
                            border-radius: 10px;
                            transition: all 0.5s;
                            span {
                                display: block;
                                margin: auto;
                                color: var.$secondaryColor;
                                font-size: 25px;
                                font-family: var.$acmeFont;
                            }
    
                            &:hover {
                                box-shadow: 0 0 30px var.$primaryColor;
                            }
                        }
                    }

                    .screen-content {
                        direction: rtl;
                        margin-top: 30px;
                        height: 400px;
                        width: 100% ;
                        .box-update {
                            display: flex;
                            flex-direction: column;
                            width: 500px;
                            height: 100%;
                            backdrop-filter: blur(5px);
                            // box-shadow: 0 0 2px 2px rgb(255, 0, 0),
                            // 0 0 4px 4px #ff7f00,
                            // 0 0 6px 6px #ffff00,
                            // 0 0 8px 8px #00ff00,
                            // 0 0 10px 10px #0000ff,
                            // 0 0 12px 12px #4B0082,
                            // 0 0 14px 14px #9400D3;
                            &::before {
                                margin: auto;
                                display: block;
                                content: "";
                                width: 100%;
                                animation: rowshadowrun 2s ease alternate infinite;
                                height: 0.02vmax;
                            }
                            &::after {
                                margin: auto;
                                display: block;
                                content: "";
                                width: 100%;
                                animation: rowshadowrun 2s ease-in alternate infinite;
                                height: 0.02vmax;
                            }
                            .update-picture {
                                display: flex;
                                justify-content: space-between;
                                position: relative;
                                width: 100%;
                                height: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                &::before {
                                    content: "";
                                    display: block;
                                    margin: auto 0;
                                    width: 0.2vmax;
                                    animation: columnshadowrun 2s ease-in alternate-reverse infinite;
                                    height: 100%;
                                    z-index: -1;
                                }
                                &::after {
                                    content: "";
                                    display: block;
                                    margin: auto 0;
                                    width: 0.2vmax;
                                    animation: columnshadowrun 2s ease-in alternate-reverse infinite;
                                    height: 100%;
                                    z-index: -1;
                                }
                                .label-update {
                                    display: flex;
                                    position: absolute;
                                    top: 25px;
                                    right: -40px;
                                    height: 10%;
                                    padding: 0 10px;
                                    transform: rotate(45deg);
                                    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
                                    background-color: var.$typicalColor;
                                    .label-center {
                                        direction: ltr;
                                        margin: auto;
                                        span {
                                            display: block;
                                            font-size: 2rem;
                                            text-transform: uppercase;
                                            color: var.$primaryColor;
                                            font-family: var.$domineFont;
                                        }
                                    }
                                }
                                .update-time {
                                    @include mix.flexBox($align: center);
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: auto;
                                    height: 10%;
                                    padding: 0 5px;
                                    background-color: var.$secondaryColor;
                                    border-top: 1px solid black;
                                    border-right: 1px solid black;
                                    .date {
                                        font-size: 1.5rem;
                                        color: var.$primaryColor;
                                        font-family: var.$digital7Font;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}   