@use 'submodules/variable' as var;
@use 'submodules/mixin' as mix;
@use 'mobile';


main.main-content {
    background-color: var.$primaryColor;
    box-shadow: 0 -10px 30px 20px var.$primaryColor;
    overflow-x: auto;
    transition: all 0.5s;
    .main-container {
        @include mix.flexBox($dir : column);
        height: 2000px;
        margin: auto;
        .main-scroll-time-date {
            @include mix.flexBox($justify: space-between);
            position: relative;
            max-height: 150px;
            width: 100%;
            margin-bottom:  15%;
            border-bottom: 2px solid black;
            background-color: var.$secondaryColor;
            .time-digital-content {
                @include mix.flexBox($align: center, $justify: center);
                position: absolute;
                left: 0;
                width: 50%;
                height: 75px;
                .time-digital {
                    @include mix.flexBox($align: center);
                    width: 90%;
                    #display-time {
                        font-size: 60px;
                        font-weight: 900;
                        font-family: var.$digital7Font;
                        color: var.$primaryColor;
                    }
                }
            }
            .date-digital-content {
                @include mix.flexBox($align: center, $justify: center);
                position: absolute;
                right: 0;
                width: 50%;
                height: 75px;
                .date-digital {
                    @include mix.flexBox($align: center, $justify: flex-end);
                    width: 90%;
                    #display-date {
                        font-size: 60px;
                        font-weight: 900;
                        font-family: var.$digital7Font;
                        color: var.$primaryColor;
                    }
                }
            }
            .scroll-text-content {
                @include mix.flexBox($align: flex-end);
                height: 150px;
                width: 100%;
                .scroll-text {
                    @include mix.flexBox($align: center, $justify: center);
                    width: 100%;
                    height: 75px;
                    .display-scroll-text {
                        @include mix.flexBox($align: center);
                        width: 95%;
                        height: 60%;
                        overflow: hidden;
                        div.scroll-mode {
                            margin: auto 0;
                            width: 100%;
                            white-space: nowrap;
                            #display-text {
                                animation-name: scrollingText;
                                animation-timing-function: linear;
                                animation-iteration-count: infinite;
                                animation-duration: 15s;
                                font-size: 50px;
                                font-weight: 900;
                                font-family: var.$digital7Font;
                                color: var.$primaryColor;
                            }
                        }
                    }
                    
                }
            }
        }
        .main-slide-show {
            height: auto;
            display: flex;
            flex-direction: column;
            line-height: 1;
            background-color: burlywood;
            z-index: 110;
            .slide-show-content {
                height: 87%;
                border: 3px solid var.$secondaryColor;
                img {
                    width: 100%;
                }
            }
            .btn-slide-show {
                @include mix.flexBox($align: flex-end, $justify: center);
                height: 13%;
                background-color: coral;
                .btn-primary-item {
                    @include mix.flexBox($align: center, $justify: center);
                    height: 50%;
                    width: 40%;
                    background-color: aqua;
                    .btn-prev-item {
                        height: 100%;
                        width: 10%;
                        background-color: aquamarine;
                        .prev-btn {
                            display: none;
                            cursor: pointer;
                            border: none;
                            width: 100%;
                            height: 100%;
                            // i {
                            //     font-size: 150%;
                            //     font-weight: 900;
                            // }
                        }
                    }
                    .btn-dot-item {
                        @include mix.flexBox($align: center, $justify: center);
                        height: 100%;
                        width: 80%;
                        background-color: blueviolet;
                        ul {
                            @include mix.flexBox($justify: center);
                            background-color: crimson;
                            width: 100%;
                            height: 50%;
                            li {
                                display: flex;
                                margin: auto 2%;
                                width: 5%;
                                height: 100%;
                                background-color: cadetblue;
                                .point-btn {
                                    display: none;
                                    width: 100%;  
                                    height: 100%;
                                    cursor: pointer;
                                    background-color: rgb(212, 0, 255);
                                    // height: 10px;
                                    font-size: 0;
                                    // border-radius: 100%;
                                    border: none;
                                }
                            }
                        }
                    }
                    .btn-next-item {
                        height: 100%;
                        width: 10%;
                        background-color: rgb(39, 172, 21);
                        .next-btn {
                            display: none;
                            background-color: blueviolet;
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            border: none;
                            i { 
                                font-size: 20px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}