//Variables 
$primaryColor :  #ececec;
$secondaryColor : rgb(35, 35, 35);
$typicalColor : rgb(128, 98, 0);

//Fonts
$arialFont: 'arial', sans-serif;
$acmeFont: 'Acme', sans-serif;
$aliceFont: 'Alice', serif;
$domineFont: 'Domine', serif;
$oswaldFont: 'Oswald', sans-serif;
$passionOneFont : 'Passion One', sans-serif;
$digital7Font : 'digital-7', sans-serif;
$alexBrushFont : 'Alex Brush', sans-serif;


@font-face {
    font-family: 'digital-7';
    src: url('../font/digital-7.ttf') format('truetype');
}

// @keyframes rowgradientrun {
//     0% {
//         background-position: left;
//     }

//     100% {
//         background-position: right;
//     }
// }


@keyframes rowshadowrun {
    0% {
        // width: 4.5%;
        border-color:  white;
    }
    13% {
        // width: 17.5%;
        border-color:  red;
    }
    17.5% {
        // width: 30,5%;
        border-color:  #ff7f00;
    }
    30.5% {
        // width: 43.5%;
        border-color:  #ffff00;
    }
    43.5% {
        // width: 56.5%;
        border-color:  #00ff00;
    }
    56.5% {
        // width: 69.5%;
        border-color:  #0000ff;
    }
    69.5% {
        // width: 82.5%;
        border-color:  #4B0082;
    }
    82.5% {
        // width: 95.5%;
        border-color:  #9400D3;
    }
    95.5% {
        // width: 100%;
        border-color:  #000000;
    }
}

// @keyframes columngradientrun {
//     0% {
//         background-position: 0% 0%; /* Posisi awal */
//     }
//     100% {
//         background-position: 0% 100%; /* Posisi akhir */
//     }
// }